/* This CSS is turned to the page's layout configuration */

.wrapper {

    background-color: #5da1b8;

}

.board {

    background-color: #3875c4;

}

.space {

    background-color: #5da1b8;

}

.font-class {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #252ea5;

}